@model IEnumerable<SlugifyWeb.Models.Blogg>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BloggID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BloggID" asp-route-slug="@SlugifyWeb.Utils.Slug.Slugify(item.Title)">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BloggID">Delete</a> |
                <a asp-controller="Posts" asp-action="IndexByBlogg" asp-route-id="@item.BloggID">Posts</a> |
                <a asp-controller="Posts" asp-action="CreateByBlogg" asp-route-id="@item.BloggID">Create post</a> |
            </td>
        </tr>
}
    </tbody>
</table>
